<div class="container">
    {{ form_start(contactForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_label(contactForm.nombre, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(contactForm.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(contactForm.nombre) }}
    </div>
    <div class="mb-3">
        {{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(contactForm.email) }}
    </div>
    <div class="mb-3">
        {{ form_label(contactForm.mensaje, 'Mensaje', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(contactForm.mensaje, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
        {{ form_errors(contactForm.mensaje) }}
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    {{ form_end(contactForm) }}
</div>
