{% extends 'base.html.twig' %}

{% block title %}CarruselRefugio{% endblock %}

{% block body %}
    <h1>CarruselRefugio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrusel_refugio.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ carrusel_refugio.image }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ carrusel_refugio.titulo }}</td>
            </tr>
            <tr>
                <th>Subtitulo</th>
                <td>{{ carrusel_refugio.subtitulo }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ carrusel_refugio.link }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ carrusel_refugio.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carrusel_refugio_index') }}">back to list</a>

    <a href="{{ path('app_carrusel_refugio_edit', {'id': carrusel_refugio.id}) }}">edit</a>

    {{ include('carrusel_refugio/_delete_form.html.twig') }}
{% endblock %}
