<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fundación Mascotas{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Logo con imagen -->
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('img/logoCanva.png') }}" alt="Fundación Sta Catalina" height="40" style="border-radius: 50%;  position: relative; left: -10px;">Fundación Santa Catalina
        </a>

        <!-- Botón para colapsar navbar -->
        {# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button> #}
    </div>
</nav>
{% endblock %}


<body>
    {% block body %}{% endblock %}

    <!-- Bootstrap JS y Popper -->
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

{% block footer %}
<!-- Footer -->
<footer class="bg-dark text-center py-5 mt-5">
    <p style="color: white;">&copy; {{ "now"|date("d/m/Y") }} Fundación Santa Catalina. Todos los derechos reservados.</p>
    <div class="d-flex justify-content-center align-items-center">
        <!-- Enlace a Facebook -->
        <a href="https://www.facebook.com/tu-pagina" target="_blank" class="text-white me-3">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <!-- Enlace a Instagram -->
        <a href="https://www.instagram.com/tu-perfil" target="_blank" class="text-white me-3">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
     
        <!-- Enlace para Descargar el Estatuto con ícono -->
        <a href="{{ asset('docs/estatuto.pdf') }}" class="btn btn-light d-flex align-items-center" download>
            <i class="fas fa-file-pdf me-2"></i> Descargar Estatuto
        </a>
    </div>
</footer>
{% endblock %}

</html>
