{% extends 'base.html.twig' %}

{% block title %}Inicio - Fundación{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Fundación Sta Catalina</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
               {% if user %}
                    <p style="color: yellow;">Hola {{ user.email }}!</p> 
                {# {% else %}
                    <p>Bienvenido, invitado!</p> #}
                {% endif %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#mision">Misión</a></li>
                <li class="nav-item"><a class="nav-link" href="#actividades">Actividades</a></li>
                <li class="nav-item"><a class="nav-link" href="#equipo">Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="#leyes">Leyes</a></li>
                <li class="nav-item"><a class="nav-link" href="#noticias">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Escribinos</a></li>
                <li class="nav-item"><a class="nav-link" href="#ubicacion">Ubicación</a></li>
         
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administrar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_noticia_index') }}">adm noticias</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_actividades_index') }}">adm actividades </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  style="color: yellow;" class="nav-link active" href="{{ path('app_logout') }}">Salir
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- bienvenidos -->

<section class="hero-section text-white text-center custom-hero">
    <div class="container">
        <h1>Bienvenidos a Fundación Santa Catalina</h1>
        <p>Trabajamos para proteger y mejorar la vida de las mascotas en nuestra comunidad.</p>
        <a href="#contacto" class="btn btn-light btn-lg">¡Sumate!</a>
    </div>
</section>


<!-- Misión -->
<section id="mision" class="py-5">
    <div class="container">
        <h2 class="text-center">Nuestra Misión</h2>
        <p class="text-center">Nuestra fundación tiene como propósito...</p>
    </div>
</section>


<!-- Carousel Section -->
<section id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('img/uno.jpg') }}" class="d-block w-100" alt="Mascotas 1">
            <div class="carousel-caption d-none d-md-block">
                <h4>Voluntarios Bienvenidos</h4>
                <h5>Únete a nuestro equipo de voluntarios y haz una diferencia.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('img/dos.jpg') }}" class="d-block w-100" alt="Mascotas 2">
            <div class="carousel-caption d-none d-md-block">
                 <h4>Voluntarios Bienvenidos</h4>
                <h5>Únete a nuestro equipo de voluntarios y haz una diferencia.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('img/tres.jpg') }}" class="d-block w-100" alt="Mascotas 3">
            <div class="carousel-caption d-none d-md-block">
                <h4>Voluntarios Bienvenidos</h4>
                <h5>Únete a nuestro equipo de voluntarios y haz una diferencia.</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</section>

<!-- Sección Actividades -->
<section id="actividades" class="my-2 py-5 container">
    <h2 class="text-center mb-4">Actividades</h2>
    <div class="row g-4">
        {% for actividad in actividades %}
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-lg overflow-hidden custom-card">
                    <!-- Imagen destacada con máximo de altura y corte -->
                    <img src="{{ asset('uploads/' ~ actividad.imagenDestacada ) }}" class="card-img-top img-fluid" 
                         style="max-height: 250px; object-fit: cover;" alt="{{ actividad.titulo }}">
                    
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ actividad.titulo }}</h5>
                        <p class="card-text text-muted">{{ actividad.descripcionCorta }}</p>
                        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalActividad{{ actividad.id }}">
                            <i class="bi bi-eye"></i> Ver más
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal para cada actividad -->
            <div class="modal fade" id="modalActividad{{ actividad.id }}" tabindex="-1" aria-labelledby="modalActividadLabel{{ actividad.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalActividadLabel{{ actividad.id }}">{{ actividad.titulo }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Carrusel de imágenes -->
                            <div id="carouselActividad{{ actividad.id }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for imagen in actividad.imagenes %}
                                        {% if imagen.ruta is not null %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                <img src="{{ asset('uploads/' ~ imagen.ruta) }}" class="d-block w-100" 
                                                    style="height: 500px; object-fit: cover;" alt="Imagen actividad">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselActividad{{ actividad.id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselActividad{{ actividad.id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>

                            <p class="mt-4">{{ actividad.descripcionLarga }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


<!-- Equipo -->
<section id="equipo" class="container my-5">
    <h2 class="text-center mb-5">Nuestro Equipo</h2>
    <div class="row g-4">
        <!-- Miembro 1 -->
        <div class="col-md-4 text-center">
            <div class="team-member-card">
                <img src="{{ asset('img/team1.jpg') }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                <h5 class="mt-3">María Pérez</h5>
                <p class="text-muted">Fundadora</p>
            </div>
        </div>

        <!-- Miembro 2 -->
        <div class="col-md-4 text-center">
            <div class="team-member-card">
                <img src="{{ asset('img/team1.jpg') }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                <h5 class="mt-3">Carlos Gómez</h5>
                <p class="text-muted">Director de Tecnología</p>
            </div>
        </div>

        <!-- Miembro 3 -->
        <div class="col-md-4 text-center">
            <div class="team-member-card">
                <img src="{{ asset('img/team1.jpg') }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                <h5 class="mt-3">Laura López</h5>
                <p class="text-muted">Gerente de Marketing</p>
            </div>
        </div>
    </div>
     <button id="scrollTopButton" onclick="scrollToTop()">↑ Inicio</button>
</section>



<!-- Leyes -->

<section id="leyes" class="my-2 py-5 bg-tone-light">
    <div class="container">
    <h2 class="text-center">Leyes de Protección Animal</h2>
    <ul>
        <li>Ley XX: Prohíbe el maltrato animal...</li>
        <li>Ley YY: Regula la adopción y cuidado...</li>
    </ul>
    </div>
</section>


<!-- Noticias -->
<section id="noticias" class="mt-5 p-5">
    <h2 class="text-center">Noticias</h2>
    <div class="row">
        {% for noticia in noticias %}
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-lg overflow-hidden custom-card">
                    <!-- Imagen destacada con máximo de altura y corte -->
                    <img src="{{ asset('uploads/' ~ noticia.imagen) }}" class="card-img-top img-fluid" 
                         style="max-height: 250px; object-fit: cover;" alt="{{ noticia.titulo }}">
                    
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ noticia.titulo }}</h5>
                        <p class="card-text text-muted">{{ noticia.descripcionCorta }}</p>
                        
                        <!-- Enlace para navegar a la página de detalle -->
                        <a href="{{ path('app_noticia_show_publico', {'id': noticia.id}) }}" class="btn btn-primary mt-3">
                            <i class="bi bi-arrow-right"></i> Ver más
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


<!-- Contáctanos -->
<section id="contacto" class="bg-tone-light py-5">
    <!-- Mensajes Flash -->
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h2 class="text-center mb-4">Escribinos</h2>
    <div class="container">
        {{ form_start(contactForm, {'attr': {'class': 'needs-validation row g-3', 'novalidate': 'novalidate'}}) }}
        
        <!-- Campo Nombre -->
        <div class="col-md-6">
            {{ form_label(contactForm.nombre, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Tu nombre'}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa tu nombre.
            </div>
            {{ form_errors(contactForm.nombre) }}
        </div>
        
        <!-- Campo Teléfono -->
        <div class="col-md-6">
            {{ form_label(contactForm.telefono, 'Teléfono', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.telefono, {'attr': {'class': 'form-control', 'placeholder': ''}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa un número de teléfono válido.
            </div>
            {{ form_errors(contactForm.telefono) }}
        </div>
        
        <!-- Campo Email -->
        <div class="col-md-6">
            {{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder': 'nombre@ejemplo.com'}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa un email válido.
            </div>
            {{ form_errors(contactForm.email) }}
        </div>
        
        <!-- Campo Mensaje -->
        <div class="col-md-12">
            {{ form_label(contactForm.mensaje, 'Mensaje', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.mensaje, {'attr': {'class': 'form-control', 'rows': '4', 'placeholder': 'Dejanos tu mensaje aquí...'}}) }}
            <div class="invalid-feedback">
                Por favor, escribí un mensaje.
            </div>
            {{ form_errors(contactForm.mensaje) }}
        </div>
        
        <!-- Botón Enviar -->
        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-paper-plane"></i> Enviar
            </button>
        </div>

        {{ form_end(contactForm) }}
    </div>
</section>


<!-- Mapa -->
<section id="ubicacion" class="my-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Mapa embebido -->
            <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                <div class="text-center mb-4">
                    <h2>Ubicación</h2>
                </div>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.25821503352!2d-58.93473098525926!3d-27.492343924247685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572bca7192f7d%3A0xe25f67b87d0c59e9!2sAyacucho%205680%2C%20H3503IBD%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1666464294567!5m2!1ses-419!2sar"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <!-- Botón de interacción -->
            <div class="col-lg-4 col-md-4 col-sm-12 my-3">
                <div class="text-center mb-4">
                    <h4>¿Cómo Llegar?</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="https://www.google.com/maps?q=Ayacucho+5680,+H3503IBD+Barranqueras,+Chaco" class="btn btn-outline-primary" target="_blank">
                        <i class="bi bi-google"></i> Ver en Google Maps
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-center py-3 mt-5">
    <p style="color: yellow;">&copy; {{ "now"|date("d/m/Y") }} Fundación Santa Catalina. Todos los derechos reservados.</p>
</footer>
{% endblock %}

