{% extends 'base.html.twig' %}

{% block title %}Inicio - Fundación{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
    <script >
    </script>
{% endblock %}


{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Logo con imagen -->
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/logoCanva.png') }}" alt="Fundación Sta Catalina" height="40" style="border-radius: 50%;  position: relative; left: -10px;"> Santa Catalina
        </a>

        <!-- Botón para colapsar navbar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido del menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user %}
                <p style="color: yellow;">Hola {{ user.email }}!</p>
            {% endif %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#mision">Misión</a></li>
                <li class="nav-item"><a class="nav-link" href="#actividades">Actividades</a></li>
                <li class="nav-item"><a class="nav-link" href="#comunidad">Comunidad</a></li>
                <li class="nav-item"><a class="nav-link" href="#equipo">Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="#leyes">Leyes</a></li>
                <li class="nav-item"><a class="nav-link" href="#noticias">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Escribinos</a></li>
                <li class="nav-item"><a class="nav-link" href="#donaciones">Donaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#ubicacion">Ubicación</a></li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administrar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_noticia_index') }}">Noticias</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_actividades_index') }}">Actividades</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_ley_index') }}">Leyes</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_comunidad_index') }}">Comunidad</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_equipo_index') }}">Equipo</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_video_index') }}">Videos</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_carrusel_refugio_index') }}">Carrusel refugio</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a style="color: yellow;" class="nav-link active" href="{{ path('app_logout') }}">Salir</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}

{# <audio id="audioBienvenida">
    <source src="{{ asset('audio/navida2.mp3') }}" type="audio/mpeg">
</audio>
<button id="audioToggle" class="btn btn-light btn-sm">
    🔊 Música
</button> #}

<!-- loader -->
{# 
<div id="loader">
    <div class="spinner-border text-warning spinner-border-lg" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div> #}

<!-- bienvenidos -->
{# <div class="text-center py-2" style="background:#8b0000;color:white;">
    Fundación Santa Catalina les desea felices fiestas 🐾
</div> #}
<section class="hero-section text-white text-center custom-hero">

    <div id="loader">
        <div class="spinner-border text-warning" role="status" style="width: 4rem; height: 4rem;">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <div class="container">
        <h1>Bienvenidos a Fundación Santa Catalina</h1>
         <h5>Personería jurídica 2167.<br>Matrícula N°2167</h5>
        <h4>Dar voz a los animales y velar por el respeto de sus derechos.</h4>
        
       
        
        <a href="#contacto" class="btn btn-light btn-lg">¡Sumate!</a>
    </div>
</section>


<!-- Misión -->
<section id="mision" class="py-5 bg-light position-relative">
    <div class="container">
            <h2 class="text-center mt-5 fw-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                Nuestra Misión
            </h2>
            <p class="text-center mx-auto lead" style="max-width: 800px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);">
                Promover el bienestar y la dignidad de los perros en situación de abandono o maltrato en la 
                provincia del Chaco, brindando atención integral mediante rescates, cuidados veterinarios, 
                protección, rehabilitación y búsqueda de hogares responsables. Fomentamos la concientización 
                y educación sobre la tenencia responsable de mascotas, el control poblacional mediante 
                campañas de castración y el respeto por la vida animal, trabajando en colaboración con 
                comunidades y organismos para construir un entorno más compasivo y seguro para todos los perros.
            </p>
        <div class="text-center mt-4 mb-5">
            <img src="{{ asset('img/virgen.jpeg') }}" alt="Representación del sitio" class="rounded-circle shadow-lg" id="mision-image">
        </div>
    </div>
</section>

<!-- Carousel Section -->
<section id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for item in carruselRef %}
            <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                <img src="{{ asset('uploads/' ~ item.image) }}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption {{ loop.first ? '' : 'd-none d-md-block' }}">
                    <h4>{{ item.titulo }}</h4>
                    <h5>{{ item.subtitulo }}</h5>
                    {% if item.link %}
                        <a href="{{ item.link }}" 
                            class="btn btn-primary btn-lg mt-3"
                            title="{{ item.titulo }}"
                            aria-label="{{ item.subtitulo }}">
                            <i class="fa-solid fa-eye"></i> {{ item.buttonText|default('Acceder para conocer más!!') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</section>

<!-- Sección Actividades -->
<section class=" mb-1">

<section id="actividades" class="bg-tone-light my-2 py-5">
<div class="container">
    <h2 class="text-center mb-4">Últimas actividades</h2>
    <div class="row g-4">
        {% for actividad in actividades %}
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-lg overflow-hidden custom-card">
                    <!-- Imagen destacada con máximo de altura y corte -->
                    {# <img src="{{ asset('uploads/' ~ actividad.imagenDestacada ) }}" class="card-img-top img-fluid" 
                         style="max-height: 200px; object-fit: cover;" alt="{{ actividad.titulo }}">
                     #}
                    <img src="{{ asset('uploads/' ~ actividad.imagenDestacada ) }}" class="card-img-top img-fluid" 
                    style="max-height: 200px; object-fit: contain; background: #333333;" alt="{{ actividad.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ actividad.titulo }}</h5>
                        <p class="card-text text-muted">{{ actividad.descripcionCorta }}</p>
                        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalActividad{{ actividad.id }}">
                            <i class="fa-solid fa-eye"></i> Ver más
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal para cada actividad -->
            <div class="modal fade" id="modalActividad{{ actividad.id }}" tabindex="-1" aria-labelledby="modalActividadLabel{{ actividad.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="modalActividadLabel{{ actividad.id }}">{{ actividad.titulo }}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Carrusel de imágenes -->
                            <div id="carouselActividad{{ actividad.id }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for imagen in actividad.imagenes %}
                                        {% if imagen.ruta is not null %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                {# <img src="{{ asset('uploads/' ~ imagen.ruta) }}" class="d-block w-100" 
                                                    style="height: 500px; object-fit: cover;" alt="Imagen actividad"> #}
                                            <img src="{{ asset('uploads/' ~ imagen.ruta) }}" class="d-block w-100 img-fluid" 
                                            style="height: auto;" alt="Imagen actividad">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselActividad{{ actividad.id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselActividad{{ actividad.id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>
                            <p class="mt-4">{{ actividad.descripcionLarga }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Enlace para navegar a la página de detalle -->
        <a href="{{ path('actividades_index_publico') }}" class="btn btn-primary mt-3">
             <i class="fa-solid fa-eye"></i>Ver todas las actividades
        </a>
    </div>
 </div>
</section>

<!-- Comunidad -->
{% if comunidad is not empty %}
<section id="comunidad" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Comunidad</h2>
        <p class="text-center text-muted mb-5">
            Contenidos audiovisuales y mensajes difundidos en distintos espacios digitales,
            relacionados con la protección y el bienestar animal.
        </p>

        {% for item in comunidad %}
            <div class="row align-items-center mb-5">
                <!-- Video -->
                {# <div class="col-md-6 mb-4 mb-md-0">
                    <div class="ratio ratio-16x9 shadow rounded">
                        <iframe
                            src="https://www.facebook.com/plugins/video.php?href={{ item.videoUrl|url_encode }}"
                            allowfullscreen
                            loading="lazy"
                            style="border:0;">
                        </iframe>
                    </div>
                </div> #}


        <div class="col-md-6 mb-4 mb-md-0">
            <div class="ratio ratio-16x9">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?href={{ item.videoUrl|url_encode }}&show_text=false"
                    allowfullscreen
                    loading="lazy"
                    style="border:0;">
                </iframe>
            </div>
        </div>



                <!-- Texto -->
                <div class="col-md-6">
                {# <h5 class="text-primary mb-3">Contenido audiovisual de difusión</h5> #}
                    <p>{{ item.descripcion }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}

<!-- Comisión Directiva -->
    <section id="equipo" class="container mt-5">
        <h2 class="text-center mb-5">Comisión directiva</h2>
        <div class="row g-3">
            {% for miembro in equipos %}
                {% if miembro.puesto == 'presidente' or miembro.puesto == 'secretario/a' or miembro.puesto == 'tesorero'%}
                    <div class="col-md-3 text-center">
                        <div class="team-member-card">
                            <img src="{{ asset('uploads/' ~ miembro.imagen) }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                            <h5 class="mt-3">{{ miembro.nombre }}</h5>
                            <p class="text-muted">{{ miembro.puesto|capitalize }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <hr class="custom-hr">
    <!-- Equipo Legal -->
    <section  class="container">
        <h2 class="text-center">Equipo legal</h2>
        <div class="row g-3">
            {% for miembro in equipos %}
                {% if miembro.puesto == 'areaCivil' or miembro.puesto == 'areaPenal' %}
                    <div class="col-md-3 text-center">
                        <div class="team-member-card">
                            <img src="{{ asset('uploads/' ~ miembro.imagen) }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                            <h5 class="mt-3">{{ miembro.nombre }}</h5>
                            <p class="text-muted">{{ miembro.puesto|capitalize }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <hr class="custom-hr">
    <!-- Colaboradores -->
    <section  class="container">
        <h2 class="text-center">Colaboradores</h2>
        <div class="row g-3">
            {% for miembro in equipos %}
                {% if miembro.puesto == 'colaborador/a' %}
                
                    <div class="col-md-3 text-center">
                        <div class="team-member-card">
                            <img src="{{ asset('uploads/' ~ miembro.imagen) }}" class="rounded-circle w-75 shadow-lg team-image" alt="Miembro del equipo">
                            <h5 class="mt-3">{{ miembro.nombre }}</h5>
                            <p class="text-muted">{{ miembro.puesto|capitalize}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

  <button id="scrollTopButton" onclick="scrollToTop()">↑ Inicio</button>
<!-- Leyes -->
<section id="leyes" class="my-5 py-5 bg-light">
    <div class="container">
        <h2 class="text-center fw-bold mb-4">Leyes de Protección Animal</h2>
        <div class="accordion" id="leyesAccordion">

            {% for ley in leyes %}
                <div class="accordion-item">
                    <h3 class="accordion-header" id="ley{{ ley.id }}-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ley{{ ley.id }}" aria-expanded="true" aria-controls="ley{{ ley.id }}">
                            <strong>{{ ley.titulo }}</strong> - {{ ley.descripcion }}
                        </button>
                    </h3>
                    <div id="ley{{ ley.id }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="ley{{ ley.id }}-heading" data-bs-parent="#leyesAccordion">
                        <div class="accordion-body">
                            <p><strong>Sancionada:</strong> {{ ley.fechaSancion|date('d/m/Y') }}</p>
                            <p><strong>Promulgada:</strong> {{ ley.fechaPromulgacion|date('d/m/Y') }}</p>
                            <p><strong>ARTÍCULOS:</strong></p>
                            <ul>
                                {% for articulo in ley.articulos %}
                                    <li><strong>Artículo {{ articulo.numero }}:</strong> {{ articulo.contenido }}</li>
                                {% else %}
                                    <li>No hay artículos registrados.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>


<!-- Noticias -->
<section id="noticias" class="mt-5 p-5">
    <h2 class="text-center">Últimas Noticias</h2>
    <div class="row">
        {% for noticia in noticias %}
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-lg overflow-hidden custom-card">
                    <!-- Imagen destacada con máximo de altura y corte -->
                    <img src="{{ asset('uploads/' ~ noticia.imagen) }}" class="card-img-top img-fluid" 
                         style="max-height: 250px; object-fit: cover;" alt="{{ noticia.titulo }}">
                    
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ noticia.titulo }}</h5>
                        <p class="card-text text-muted">{{ noticia.descripcionCorta }}</p>
                        
                        <!-- Enlace para navegar a la página de detalle -->
                        <a href="{{ path('app_noticia_show_publico', {'id': noticia.id}) }}" class="btn btn-primary mt-3">
                            <i class="bi bi-arrow-right"></i> Ver más
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
         <!-- Enlace para navegar a la página de detalle -->
        <a href="{{ path('noticias_index_publico') }}" class="btn btn-primary mt-3">
             <i class="fa-solid fa-eye"></i>Ver todas las noticias
        </a>
    </div>
     
</section>


<!-- Contáctanos -->
<section id="contacto" class="bg-tone-light py-5">
    <!-- Mensajes Flash -->
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h2 class="text-center mb-4">Escribinos</h2>
    <div class="container">
        {{ form_start(contactForm, {'attr': {'class': 'needs-validation row g-3', 'novalidate': 'novalidate'}}) }}
        
        <!-- Campo Nombre -->
        <div class="col-md-6">
            {{ form_label(contactForm.nombre, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Tu nombre'}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa tu nombre.
            </div>
            {{ form_errors(contactForm.nombre) }}
        </div>
        
        <!-- Campo Teléfono -->
        <div class="col-md-6">
            {{ form_label(contactForm.telefono, 'Teléfono', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.telefono, {'attr': {'class': 'form-control', 'placeholder': ''}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa un número de teléfono válido.
            </div>
            {{ form_errors(contactForm.telefono) }}
        </div>
        
        <!-- Campo Email -->
        <div class="col-md-6">
            {{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder': 'nombre@ejemplo.com'}}) }}
            <div class="invalid-feedback">
                Por favor, ingresa un email válido.
            </div>
            {{ form_errors(contactForm.email) }}
        </div>
        
        <!-- Campo Mensaje -->
        <div class="col-md-12">
            {{ form_label(contactForm.mensaje, 'Mensaje', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(contactForm.mensaje, {'attr': {'class': 'form-control', 'rows': '4', 'placeholder': 'Dejanos tu mensaje aquí...'}}) }}
            <div class="invalid-feedback">
                Por favor, escribí un mensaje.
            </div>
            {{ form_errors(contactForm.mensaje) }}
        </div>
        
        <!-- Botón Enviar -->
        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lm">
                <i class="fas fa-paper-plane"></i> Enviar
            </button>
        </div>

        {{ form_end(contactForm) }}
    </div>
</section>

<!-- Donaciones -->
<section id="donaciones" class="py-1 bg-light position-relative">
    <div class="container">
        <h2 class="text-center mt-5 fw-bold">Ayudanos a seguir haciendo el bien</h2>
        <p class="text-center mx-auto lead" style="max-width: 800px;">
            Tu donación ayuda a continuar con nuestra misión de rescatar, cuidar y proteger a los perros 
            en situación de abandono y maltrato. Cada aporte es fundamental para brindarles atención 
            veterinaria, alimento, refugio y una oportunidad de encontrar un hogar. Agradecemos de corazón 
            tu apoyo en esta noble causa.
        </p>
           <div class="text-center">
            <!-- Imagen achicada con un tamaño fijo -->
            <img src="{{ asset('img/donaciones.jpg') }}" alt="Perro rescatado" class="rounded-circle shadow-sm" style="width: 150px; height: 150px;">
        </div>
     <div class="text-center">
            <h4 class="fw-bold">Datos para realizar la donación:</h4>
            <div class="lead">
                <p><strong>Fundacion Santa Catalina</strong> </p>
                {# <p><strong>CUIT:</strong> </p> #}
                <p><strong>Entidad:</strong> Nuevo Banco del Chaco</p>
                <p><strong>CBU:</strong> 3110015911000008491031</p>
            </div>
        <div class="lead">
            <p><strong>Teléfonos de contacto</strong></p>
            <p><i class="fa fa-phone"></i> <strong>Línea directa:</strong> <a href="tel:+543624855001">+54 3624 855001</a></p>
        </div>
        </div>
    </div>
</section>

<!-- Mapa -->
<section id="ubicacion" class="my-5">
    <div class="container">
        <div class="text-center mb-4">
            <h2>Ubicación</h2>
        </div>
        <!-- Pestañas para las direcciones -->
        <ul class="nav nav-tabs" id="ubicacionTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ubicacion1-tab" data-bs-toggle="tab" data-bs-target="#ubicacion1" type="button" role="tab" aria-controls="ubicacion1" aria-selected="true">
                   <strong> Ayacucho 5680 - Barranqueras</strong>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="ubicacion2-tab" data-bs-toggle="tab" data-bs-target="#ubicacion2" type="button" role="tab" aria-controls="ubicacion2" aria-selected="false">
                    <strong> Av. Gaboto y Ayacucho - Barranqueras  </strong>
                </button>
            </li>
            {# <li class="nav-item" role="presentation">
                <button class="nav-link" id="ubicacion3-tab" data-bs-toggle="tab" data-bs-target="#ubicacion3" type="button" role="tab" aria-controls="ubicacion3" aria-selected="false">
                    Dirección 3
                </button>
            </li> #}
        </ul>

        <!-- Contenido de los mapas -->
        <div class="tab-content mt-4" id="ubicacionContent">
            <!-- Dirección 1 -->
            <div class="tab-pane fade show active" id="ubicacion1" role="tabpanel" aria-labelledby="ubicacion1-tab">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.25821503352!2d-58.93473098525926!3d-27.492343924247685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572bca7192f7d%3A0xe25f67b87d0c59e9!2sAyacucho%205680%2C%20H3503IBD%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1666464294567!5m2!1ses-419!2sar"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Dirección 2 -->
        <div class="tab-pane fade" id="ubicacion2" role="tabpanel" aria-labelledby="ubicacion2-tab">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.2519216395717!2d-58.9331069!3d-27.492539700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572bcbbd1a8d7%3A0x4caf6d3742726260!2sAv.%20Gaboto%20375%2C%20H3503HLQ%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1737384574125!5m2!1ses-419!2sar" 
              width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
            <!-- Dirección 3 -->
            {# <div class="tab-pane fade" id="ubicacion3" role="tabpanel" aria-labelledby="ubicacion3-tab">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.25821503352!2d-58.93473098525926!3d-27.492343924247685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572bca7192f7d%3A0xe25f67b87d0c59e9!2sAyacucho%205680%2C%20H3503IBD%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1666464294567!5m2!1ses-419!2sar"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> #}
        </div>
    </div>
</section>

<a href="https://api.whatsapp.com/send?phone=+5493624725447&text=Hola%20quisiera%20más%20información%20sobre%20la%20fundación%20%21." class="flotar" target="_blank">
    <i class="fa-brands fa-whatsapp fa-2x"></i>
</a>

{% endblock %}

{% block footer %}
  {{ parent() }}
{% endblock %}





