{% extends 'base.html.twig' %}

{% block title %}Leyes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Listado de Leyes</h1>
        <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>FechaSancion</th>
                <th>FechaPromulgacion</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ley in leys %}
            <tr>
                <td>{{ ley.id }}</td>
                <td>{{ ley.titulo }}</td>
                <td>{{ ley.descripcion }}</td>
                <td>{{ ley.fechaSancion ? ley.fechaSancion|date('d-m-Y') : '' }}</td>
                <td>{{ ley.fechaPromulgacion ? ley.fechaPromulgacion|date('d-m-Y') : '' }}</td>
                <td>{{ ley.activo ? 'Si' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_ley_show', {'id': ley.id}) }}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{{ path('app_ley_edit', {'id': ley.id}) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-flex justify-content-between mt-4">
    <a href="{{ path('app_ley_new') }}" class="btn btn-primary">Crear nueva ley</a>
    <a href="{{ path('app_home') }}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}

{% block footer %}
{% endblock %}